<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <title> CST205 Group 3702 </title>
</head>

<body>
    <h1>Your Playlist</h1>

    <div class="formContainer">
        <img id="ai_img" src="" alt="">

        <div id="yt_vids">
            
        </div>
    </div>
    

    <script>
        const img_url = {{ img_url|tojson }}
        const yt_url = {{ yt_url|tojson }}
        var count = 0;

        document.querySelector("#ai_img").src = img_url;

        {% for url in yt_url %}
            // $("#yt_vids").append("<h1> TEST </h1>");
            
            $('#yt_vids').append(`<iframe src = "${yt_url[count]}"> </iframe> <br>`);
            count = count+1;
        {% endfor %}
    </script>
</body>
</html>